/research/SL/trunk/Newell/examples/cell/nbproject/private/
/research/SL/trunk/Newell/examples/hotspot/nbproject/private/
/research/SL/trunk/Newell/nbproject/private/
/research/SL/trunk/Newell/build/
/research/SL/trunk/Newell/examples/tests/nbproject/private/